<div class="card m-0" style="background-color: #efece9;"> 
    <i class="fs-2 bi bi-briefcase text-center"></i> 
    <h5 class="mb-1 mx-auto"><strong>[(${experiencia.titulo})]</strong></h5>
    <p class="m-1 mx-3">[(${experiencia.nomeEmpresa})] - [(${experiencia.cargo})]</p>
    <p th:if="${experiencia.atual}" class="m-1 mx-3">[(${experiencia.printDataInicio})] - Atualmente</p>
    <p th:unless="${experiencia.atual}" class="m-1 mx-3">[(${experiencia.printDataInicio})] - [(${experiencia.printDataFim})]</p>
    <p class="m-1 mx-3">[(${experiencia.cidadeEmpresa})], [(${experiencia.estadoEmpresa})], [(${experiencia.paisEmpresa})]</p>
    <p th:if="${!#strings.isEmpty(experiencia.descricao)}" class="m-1 mx-3">[(${experiencia.descricao})]</p>
  </div>