<div class="container-fluid pt-3 bg-dark text-white">
    <p class="text-center">Escale a escada do sucesso como se fosse de elevador. -The Notorious B.I.G.</p>

    <div class="text-center pb-3 pt-2">
      <a href="#" class="link-light text-decoration-none px-2 border-1 border-end border-white">Home</a>
      <a href="#" class="link-light text-decoration-none ps-1 pe-2 border-1 border-end border-white">Vagas</a>
      <a href="#" class="link-light text-decoration-none ps-1 pe-2 border-1 border-end border-white">Sobre/Contato</a>
      <a href="https://www.fatecitapira.edu.br/" target="_blank" class="link-light text-decoration-none px-1">Site Fatec
        Itapira</a>
    </div>

    <div class="text-center text-secondary pe-2 pb-1 pt-4">
      <p>João Nascimento, Leonardo Dezoti, Lucas Rogatto, Vitor Montini</p>
    </div>
  </div>