<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="/img/Logo.png" alt="Logo Trivagas" class="img-fluid">
    </a>

    <div class="col-md-3 text-end">
      <a class="btn btn-lg btn-danger me-2" href="/cadastroEscolher"><i class="bi bi-person-plus-fill"></i>
        Cadastrar</a>
      <a class="btn btn-lg btn-outline-danger" href="/login"><i class="bi bi-person-circle"></i> Login</a>
    </div>
  </header>
</div>