<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="/img/Logo.png" alt="Logo Trivagas" class="img-fluid">
    </a>

    <div class="col-md-6 text-end">
      <a th:if="${usuarioSessao == null}" class="btn btn-lg btn-danger me-2" href="/cadastroEscolher"><i class="bi bi-person-plus-fill"></i>
        Cadastrar</a>
      <a th:if="${usuarioSessao == null}" class="btn btn-lg btn-outline-danger" href="/login"><i class="bi bi-person-circle"></i> Login</a>
      <a th:if="${usuarioSessao != null && usuarioSessao.aluno != null}" class="btn btn-lg btn-danger" th:href="'/perfilAluno/' + ${usuarioSessao.aluno.id}"><i class="bi bi-person-circle"></i> [(${usuarioSessao.aluno.nome})]</a>
      <a th:if="${usuarioSessao != null && usuarioSessao.empresa != null}" class="btn btn-lg btn-danger" th:href="'/perfilEmpresa/' + ${usuarioSessao.empresa.id}"><i class="bi bi-person-circle"></i> [(${usuarioSessao.empresa.nomeFantasia})]</a>
      <a th:if="${usuarioSessao != null && usuarioSessao.administrador}" class="btn btn-lg btn-danger" th:href="'/admin'"><i class="bi bi-person-circle"></i> Painel</a>
      <a th:if="${usuarioSessao != null}" class="btn btn-lg btn-outline-danger" href="/logoff"><i class="bi bi-box-arrow-right"></i> Sair</a>
    </div>
  </header>
</div>
