<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trivagas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link th:href="@{/app/style.css}" rel="stylesheet">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <th:block th:replace="fragment/navbar" />

  <div class="container py-3">
    <form action="/cadastrarHabilidade/" method="POST">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-danger border-bottom border-1 border-danger">CADASTRO DE HABILIDADE</h1>
        </div>
        <div class="col-5 ">
          <img src="/img/aluno2.jpg" class="img-fluid rounded shadow" alt="...">
        </div>
        <div class="col-7">
          <input type="hidden" name="idAluno" th:value="${aluno.id}">

          <label>Habilidade</label>
          <input type="text" class="form-control mb-1" name="habilidade" th:value="${habilidade.habilidade}" required>

          <div class="row">
            <div class="text-end col mt-3">
              <button onclick="history.back()" class="btn btn-outline-secondary">Cancelar</button>
              <button type="submit" class="btn btn-danger">Salvar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </form>
  </div>

  <!--div class="fixed-bottom container-fluid pt-3 bg-dark text-white"-->
  <th:block th:replace="fragment/footer" />
</body>

</html>