<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="fragment/head" />

    <title>B3 Comandas - Login</title>
</head>

<body class="bg-light">

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <th:block th:replace="fragment/navbar" />

    <div class="container">

        <div class="row mt-3">
            <div class="col">
                <form action="#">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Número da Comanda">
                        <button class="btn btn-secondary" type="submit"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <h2>Comandas</h2>

            <div class="col-11 mx-auto">

                <div class="row d-grid gap-2 mb-5">
                    <div class="col-auto">
                        <a class="btn btn-lg btn-success" href="#">1</button></a>
                        <a class="btn btn-lg btn-success" href="#">2</button></a>
                        <a class="btn btn-lg btn-success" href="#">3</button></a>
                        <a class="btn btn-lg btn-success" href="#">4</button></a>
                    </div>
                    
                </div>



                <!--table class="table"-->
                <table class="mx-auto">
                    <tr>
                        <td><a class="btn btn-success btn-lg d-block" href="#">1</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">2</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">3</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">4</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-success btn-lg d-block" href="#">5</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">6</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">7</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">8</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-success btn-lg d-block" href="#">9</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">10</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">11</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">12</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-success btn-lg d-block" href="#">13</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">14</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">15</button></a></td>
                        <td><a class="btn btn-success btn-lg d-block" href="#">16</button></a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</body>

</html>