<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="fragment/head" />

    <title>B3 Comandas - Login</title>
</head>

<body class="bg-light">

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    
    <div class="container-fluid">

        <div class="row justify-content-center align-items-center" style="height: 100vh">

            <div class="col col-md-4 text-center">

                <form class="card shadow py-2" th:action="@{'/login'}" method="post">

                    <div class="card-body">
                        <a th:href="@{'/'}">
                            <img class="img-fluid mb-4" th:src="@{'/img/logo.png'}" alt="logo" style="height: 150px;" />
                        </a>

                        <h1 class="fs-3">Entrar na Conta</h1>

                        <div th:if="${param.error}" class="alert alert-danger">
                            Usuário ou Senha inválidos!
                        </div>

                        <div th:if="${param.invalido}" class="alert alert-danger">
                            Login não encontrado!
                        </div>

                        <div class="form-group mt-4">
                            <label for="login" class="sr-only">Login</label>
                            <input type="login" name="login" id="login" class="form-control form-control-lg mb-2"
                                placeholder="Usuário" required autofocus autocomplete="off" />
                        </div>

                        <div class="form-group mt-4">
                            <label for="password" class="sr-only">Senha</label>

                            <div class="input-group">
                                <input name="password" id="password" type="password"
                                    class="form-control form-control-lg" placeholder="Senha" required
                                    autocomplete="off" />
                                <div class="input-group-append">
                                    <button id="btn_password" class="btn btn-lg border" type="button"><span
                                            class="fa fa-fw fa-eye field-icon"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid ">
                            <button class="btn btn-lg btn-outline-primary mt-4" type="submit"><i
                                    class="bi bi-box-arrow-in-right"></i> Entrar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>
<script>
    $(document).ready(function () {

        exibirSenha('#btn_password', '#password');

        function exibirSenha(btn, txt) {
            $(document).on('click', btn, function () {
                if ($(txt).prop("type") === "password") {
                    $(txt).prop("type", "text");
                    $(this).children().removeClass("fa-eye");
                    $(this).children().addClass("fa-eye-slash");
                } else {
                    $(txt).prop("type", "password");
                    $(this).children().removeClass("fa-eye-slash");
                    $(this).children().addClass("fa-eye");
                }
                $(txt).focus();
            });
        }


    });

</script>