<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trivagas - Vagas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1">
      <a href="index.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="img/Logo.png" alt="Logo Trivagas" class="img-fluid">
      </a>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-lg btn-danger me-2"><i class="bi bi-person-plus-fill"></i>
          Cadastrar</button>
        <a class="btn btn-lg btn-outline-danger" href="login.html"><i class="bi bi-person-circle"></i> Login</a>
      </div>
    </header>
  </div>
  <div class="container-fluid border border-1">

  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4">

        <!-- Filtro -->
        <div class="card mb-4">

          <form method="get">
            <div class="card-body">

              <h5 class="py-2" data-toggle="collapse" data-target="#filtro_collapse">
                <i class="bi bi-sliders2"></i> Filtro

                <button id="filtro_show" class="navbar-toggler d-inline-block float-right d-md-none" type="button">
                  <i class="bi bi-caret-down-fill"></i>
                </button>

              </h5>

              <div id="filtro_collapse">

                <form class="mt-4" method="get">
                  <label for="id">Título</label>

                  <div class="input-group">
                    <input th:value="${filtroId}" name="id" type="text" class="form-control" autocomplete="off"
                      inputmode="numeric" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                </form>

                <div class="form-group mt-4">

                  <label for="imovel_tipo">Tipo da Vaga</label>
                  <select id="imovel_tipo" name="imovel_tipo" class="form-select">
                    <option th:each="imovelTipo : ${listImovelTipo}" th:value="${imovelTipo.name()}"
                      th:text="${imovelTipo}" th:selected="${filtroImovelTipo==imovelTipo}">Todos
                    </option>
                  </select>
                </div>

                <div class="form-group mt-4">

                  <label for="imovel_tipo">Área de Atuação</label>
                  <select id="imovel_tipo" name="imovel_tipo" class="form-select">
                    <option th:each="imovelTipo : ${listImovelTipo}" th:value="${imovelTipo.name()}"
                      th:text="${imovelTipo}" th:selected="${filtroImovelTipo==imovelTipo}">Todos
                    </option>
                  </select>
                </div>

                <div class="form-group mt-4">

                  <label for="cidade">Cidade</label>
                  <select id="cidade" name="cidade" class="form-select">
                    <option value="0">Todas</option>
                    <option th:each="cidade : ${listCidade}" th:value="${cidade.id}" th:text="${cidade.getNomeComUf()}"
                      th:selected="${filtroCidade==cidade}">
                      Cidade</option>
                  </select>

                </div>

                

                <div class="input-group mt-4">
                  <div class="btn-group btn-block w-100">
                    <a th:href="'/imoveis'" class="btn btn-outline-secondary"><i class="bi bi-x-lg"></i> Limpar</a>

                    <button type="submit" class="btn btn-outline-danger"><i class="bi bi-search"></i> Filtrar</button>
                  </div>
                </div>

              </div>
            </div>

          </form>
        </div>
        <!-- Fim filtro -->
      </div>
      <div class="col-md-8">
        <div class="d-flex">
          <p class="fs-4">[(${listVaga.size()})] Vaga(s) Encontragas</p>
        </div>

        <div class="row row-cols-md-2 row-cols-1">
          <div th:each="vaga : ${listVaga}" class="col mb-2">
            <th:block th:replace="@{/fragment/cardVaga}" />
          </div>
        </div>

        <div class="mt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid pt-3 mt-3 bg-dark text-white">
    <p class="text-center">Escale a escada do sucesso como se fosse de elevador. -The Notorious B.I.G.</p>

    <div class="text-center pb-3 pt-2">
      <a href="#" class="link-light text-decoration-none px-2 border-1 border-end border-white">Home</a>
      <a href="#" class="link-light text-decoration-none ps-1 pe-2 border-1 border-end border-white">Vagas</a>
      <a href="#" class="link-light text-decoration-none ps-1 pe-2 border-1 border-end border-white">Sobre/Contato</a>
      <a href="https://www.fatecitapira.edu.br/" target="_blank" class="link-light text-decoration-none px-1">Site Fatec
        Itapira</a>
    </div>

    <div class="text-center text-secondary pe-2 pb-1 pt-4">
      <p>João Nascimento, Leonardo Dezoti, Lucas Rogatto, Vitor Montini</p>
    </div>
  </div>
</body>

</html>